.action {
  background: $blue;
  border: none;
  border-bottom: 4px solid $dark-blue;
  cursor: pointer;
  color: $white;
  font-size: $m-size;
  outline: none;
  padding: $m-size;
  margin: $m-size 0;
  transition: background 0.3s ease, color 0.3s ease;
  width: 100%;
}

.action:hover {
  background: $dark-blue;
}
