.list-item {
  align-items: center;
  background: $grey;
  border: 1px solid $dark-grey;
  display: flex;
  justify-content: space-between;
  margin-bottom: $m-size;
  padding: $s-size $m-size;
  text-decoration: none;
  transition: background 0.3s ease;
}

.list-item:hover {
  background: $white;
}

.list-item > input {
  flex: auto;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  letter-spacing: 0.4rem;
  margin-right: $m-size;
  outline: none;
  padding: $xs-size;
}

.button--text {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.button--text:hover {
  background: none;
  text-decoration: underline;
}
