.custom-range::-webkit-slider-thumb {
	background-color: #343a40 !important
}
.custom-range::-webkit-slider-thumb:active {
	background-color: #6c757d !important
}
.custom-range::-moz-range-thumb {
	background-color: #343a40 !important
}
.custom-range::-moz-range-thumb:active {
	background-color: #6c757d !important
}
.custom-range::-ms-thumb {
	background-color: #343a40 !important
}
.custom-range::-ms-thumb:active {
	background-color: #6c757d !important
}